body {
	overscroll-behavior: none;
}
.app {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 7.5vh 1fr 7.5vh;
}
 
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 10%;
	border: 20px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
	box-shadow: 1px 0px 0px 0px #000000;
}