body {
	overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar:horizontal {
	display: none;
  }

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 7.5vh 1fr 7.5vh;
}
 
.speech-bubble-right:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 10%;
	border: 20px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	border: 20px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.message {
  position: relative;
}

.message:after {
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.5rem solid transparent;
	border-right-color: #5b0792;
	border-left: 0;
	border-top: 0;
	margin-top: -0.25rem;
	margin-left: -0.5rem
}

.loading-color {
	background-color: rgb(50, 50, 50);
  animation: 3s ease-in-out infinite color;
}  

@keyframes color {
  0% {
    background-color: rgb(94, 94, 94)
  }
  50% {
    background-color: #898989;
  }
  100% {
    background-color: rgb(94, 94, 94)
  }
}

.no-drag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
} 

.no-drag>* {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.outline {
	overflow-y: auto;
	height: 75vh;
}

.pdf-page-outline-current {
	margin-bottom: 1rem;
	cursor: pointer;
	border: 4px solid red;
}

.pdf-page-outline {
	margin-bottom: 1rem;
	cursor: pointer;
 }

.pdf-page-outline:hover {
	filter: brightness(50%);
}